*{
    margin: 0;
    padding: 0;
}
.section1 div{
    width: 150px;
    height: 150px;
}
.section1{
    display: flex;
    justify-content: center;
    margin: 30px auto;
    gap: 10px;
}
.bg-red{
    background-color: red;
    border-radius: 8px;
}
.bg-blue{
    background-color: blue;
    border-radius: 50%;
    /* margin-left: 10px;
    margin-right: 10px; */
}